text.legend {
    font: 11px sans-serif;
    text-anchor: end;
}

.bar {
    fill: #AB0808;
}

.bar:hover {
    fill: #615F72;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #e6e6e6;
    shape-rendering: crispEdges;
}

.x.axis path {
    stroke: #e6e6e6;
}