text.legend {
    font: 11px sans-serif;
    text-anchor: end;
}

.bar {
    /*fill: #AB0808;*/
    fill: #44586A;
}

/*.bar:hover {*/
    /*fill: #615F72;*/
/*}*/

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #e6e6e6;
    shape-rendering: crispEdges;
}

.x.axis path {
    stroke: #e6e6e6;
}

.grid .tick {
    stroke: #e6e6e6;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}